.botonesCuentas{
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

button{
  width: 200px;
  height: 100px;
  color: #fff;
  background-color: #26e052;
  border: solid 1px #fff;
  border-radius: 10px;
  cursor: pointer;
}

button:hover{
  opacity: .7;
}

a{
  color: #fff;
  text-decoration: none;
}
