#root{
  background-color: #f0f0f0;
  width: 800px;
  height: 600px;
  font-family: 'Segoe UI';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
