#root{
  background-color: #f0f0f0;
  width: 1000px;
  height: 768px;
  font-family: 'Segoe UI';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.botonesCuentas{
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.botonCuenta{
  width: 200px;
  height: 100px;
  color: #fff;
  background-color: #26e052;
  border: solid 1px #fff;
  border-radius: 10px;
  cursor: pointer;
}

.botonCuenta:hover{
  opacity: .7;
}

